sentence-transformers
langchain
flask
pypdf
python-dotenv
langchain-Chromadb
langchain_community
langchain_openai
langchain_experimental
openrouter
chromadb
tiktoken
openai
langchain-core
langchain_experimental